# Course - Introduction to R

##### NOTE: 
1. Your code MUST execute without any errors. 
2. You can add more lines in your code as required.

## Section 1: Data Types and Operations Pt. 1

### Question 1 
**Create the variables with the following composition:**
1. A vector containing each letter of your first name as its elements.
2. A variable that contains your name concatenated from the vector created in (1)
3. A variable containing a sequence from 100 to 120.
4. Create a matrix of 3x3 dimensions that contains the even sequence of numbers starting from 2.
5. Assign names to the variables.

In [ ]:
#### Start solution ####

In [ ]:
a<-c("a","s","i","f","m","a","q","b","o","o","l")

In [ ]:
nam<-c("Asif Maqbool")

In [ ]:
v<-100:120

In [ ]:
m<-matrix(seq(2,18,by=2),nrow=3,ncol =3)

In [ ]:
#### End solution ####

### Question 2
**Create a factor variable emp_status:**
1. Containing the categorical variables: Employed, Unemployed, Self-Employed, with each level appearing atleast more than 2.
2. Display the levels and the factor variable as a table.
3. Unclass the elements of the factor variable.

In [4]:
#### Start solution ####

In [ ]:
f<-factor(c("Employed","Unemployed","Self-Employed","Employed","Self-Employed","Unemployed","Employed","Self-Employed","Unemployed","Self-Employed"))

In [ ]:
table(f)

In [3]:
#### End solution ####

### Question 3
**Create a dataframe object called bank_customers:**
1. the data frame will have three columns: CustomerID, hasAccount, totalBalance
2. Fill the data as follows
    a. Alicia does not have an account. She is here for inquiry 
    b. Nancy is here to check on her account balance of USD 10,000.
    c. Fernando is here to deposit USD 100 in his account which had no balance.
    d. Louis will withdraw all his money from the account that had USD 2,000. 
    e. Diane is here for information. 
3. For customers that do not have a value, use NA as placeholder.
4. Print the number of rows, columns and names for the data frame.

In [ ]:
#### Start solution ####

In [ ]:
bank_customers<-data.frame(CustomerID=1:4,hasAccount=c("No","Yes","Yes","Yes"),totalBalance=c("NA",10000,"NA",2000))
bank_customers

In [ ]:
nrow(bank_customers)

In [ ]:
ncol(bank_customers)

In [ ]:
names(bank_customers)

In [2]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 2: Control Structures

### Question 1
**Create a variable containing a sequence of numbers from 1 to 100:**
1. Iterate over the variables and print those numbers which are prime.

**Create a variable var with a value of 1:**
1. Create a while loop and increase the value of var at each iteration. 
2. When you reach the 10th prime number, terminate the loop and print the number.

In [5]:
#### Start solution ####

In [ ]:
a<-1:100

In [ ]:
p = 0:100
for(i in p){
  if (i == 0){
    next
  } else if (i == 1){
    next
  } else if(i == 2){
    i = 2
  } else if (i %% 2 == 0){
    next
  } else if (i == 3){
    i = 3
  } else if (i %% 3 == 0){
    next
  } else if (i == 5){
    i = 5
  } else if (i %% 5 == 0){
    next
  }
     print(i)
}

In [6]:
#### End solution ####

### Question 2
**Create a matrix of size 3x3 called mat_1:**
1. Iterate over all the values one by one and print the element as well as the position in the matrix (row, col)

In [9]:
#### Start solution ####

In [14]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 3: Functions

### Question 1
**Create a function called gcd that finds the greatest common divisor of two numbers a and b:**
1. a and b, should be taken as input.
2. The function must print the GCD as well as return it.
3. The output must be saved in a variable called answer.

In [9]:
#### Start solution ####

In [14]:
#### End solution ####

### Question 2
**Create a function called allConditionsMeet, that checks whether two expressions evaluate to true:**
1. a and b, should be taken as input.
2. the function should check if a and b, both conditions, evaluate to True.
3. The function must returns a boolean value.
4. Using a method, print the arguments that function takes.

In [9]:
#### Start solution ####

In [ ]:
m<-matrix(1:9,3,3)
m

In [ ]:
m[,3]

In [ ]:
m[1,]

In [ ]:
m[1,1]

In [ ]:
m[2,2]

In [14]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 4: Vectorized Operations

### Question 1
**Create two matrices matrix_1 and matrix_2 of dimensions 2x3 and 3x2:**
1. Perform element-wise multiplication.
2. Perform matrix multipilcation. 

**Create a 2x2 matrix my_mat:**
1. Write a function to find the determinant of the matrix.

In [9]:
#### Start solution ####

In [ ]:
matrix_1<-matrix(1:6,2,3)
matrix_2<-matrix(6:11,3,2)
##element wise multiplication
matrix_1*matrix_1

In [ ]:
##matrix multiplication
matrix_1%*%matrix_2

In [ ]:
##determine matrix
my_mat<-matrix(2:5,2,2)
my_mat
det(my_mat)

In [14]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 5: Date and Time in R

### Question 1
**Use the current date and time and store them into variables curr_date and curr_time respectively: [use sys]**
1. Convert both into date and time objects using the appropriate functions.
2. Print the weekday, year, second and hour using the appropriate function and variables.

In [9]:
#### Start solution ####

In [ ]:
#### Start solution ####
curr_date<-Sys.time()
curr_date

In [ ]:
p<-as.POSIXlt(curr_date)
p

In [ ]:
names(unclass(p))

In [14]:
#### End solution ####

### Question 2
**Create a variable to store current date/time**
1. Create another variable that stores and set the timezone as GMT-5
2. Find the difference between your current time and the GMT-5 timezone.

In [9]:
#### Start solution ####

In [ ]:
#### Start solution ####
curr_date<-Sys.time()
curr_date

In [ ]:
p<-as.POSIXlt(curr_date)

In [ ]:
names(unclass(p))

In [ ]:
p$zone

In [ ]:
x<-as.POSIXct("2021-02-15 09:48:45")
y<-as.POSIXct("2021-02-15 11:58:45",tz="GMT")
y-x

In [14]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 6: Loop Functions

### Question 1
**Create a function to calculate mean and standard deviation of the provided data**
1. Create a sequence of numbers from 100 to 150 store in a variable called numbers.
1. Use lapply, sapply, apply and tapply to implement the functions on "numbers" [only on the second half of the sequence for tapply]

In [9]:
#### Start solution ####

In [ ]:
#### Start solution ####
numbers<-list(100:150)
numbers

In [ ]:
lapply(numbers,mean)

In [ ]:
sapply(numbers,sum)

In [ ]:
y<-matrix(rnorm(50),10,20)
apply(y,2,mean)

In [14]:
#### End solution ####

### Question 2
**Create a matrix of dimensions 4x4**
1. Find the row-wise and column-wise mean of the matrix.
2. Print the values.

In [9]:
#### Start solution ####

In [ ]:
#### Start solution ####
m1<-matrix(1:16,4,4)
m1

In [ ]:
colMeans(m1)

In [ ]:
rowMeans(m1)

In [ ]:
print(rowMeans(m1))

In [ ]:
#row method
print(apply(m1, 1, mean))

In [ ]:
print(colMeans(m1))

In [ ]:
#colm method
print(apply(m1, 2, mean))
#### End solution ####

In [14]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 7: Data Split

### Question 1
**Using the data frame Orange:**
1. Using split function to break down the dataset on circumference and store it in 'split_data' variable. 
2. Print the values for split_data where circumference is 30 and 75.
3. Find the average age of the tree when the circumference is 30 and when circumference is 214.


The dataset is loaded and the variable Orange contains the respective dataset.

In [21]:
library(datasets)

In [25]:
head(Orange)

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142

In [9]:
#### Start solution ####

In [ ]:
library(datasets)

In [ ]:
head(Orange)

In [ ]:
split_data<-split(Orange,Orange$circumference)
head(split_data)

In [ ]:
print(split_data$`30`)

In [ ]:
print(split_data$`75`)

In [ ]:
sapply(list(split_data$`30`$age),mean)

In [ ]:
sapply(list(split_data$`75`$age),mean)

In [14]:
#### End solution ####


### Save it and push .ipynb and .html file to your Github Repository
## GOOD JOB! You have successfully finished the course!